<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SourceMeister</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>OpenSourceViewListServlet</display-name>
		<servlet-name>OpenSourceViewListServlet</servlet-name>
		<servlet-class>com.meister.opensource.web.OpenSourceViewListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OpenSourceViewListServlet</servlet-name>
		<url-pattern>/opensource</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewProjectDetailServlet</display-name>
		<servlet-name>ViewProjectDetailServlet</servlet-name>
		<servlet-class>com.meister.opensource.web.ViewProjectDetailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewProjectDetailServlet</servlet-name>
		<url-pattern>/opensource/detail</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewMainAuthorizationServlet</display-name>
		<servlet-name>ViewMainAuthorizationServlet</servlet-name>
		<servlet-class>com.meister.authorization.web.ViewMainAuthorizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewMainAuthorizationServlet</servlet-name>
		<url-pattern>/authorizationadmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoAddAuthorizationServlet</display-name>
		<servlet-name>DoAddAuthorizationServlet</servlet-name>
		<servlet-class>com.meister.authorization.web.DoAddAuthorizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoAddAuthorizationServlet</servlet-name>
		<url-pattern>/auth/add</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>CharectorEncodingFillter</display-name>
		<filter-name>CharectorEncodingFillter</filter-name>
		<filter-class>com.meister.common.web.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharectorEncodingFillter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>ViewSignInServlet</display-name>
		<servlet-name>ViewSignInServlet</servlet-name>
		<servlet-class>com.meister.user.web.ViewSignInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewSignInServlet</servlet-name>
		<url-pattern>/user/signIn</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewSignUpServlet</display-name>
		<servlet-name>ViewSignUpServlet</servlet-name>
		<servlet-class>com.meister.user.web.ViewSignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewSignUpServlet</servlet-name>
		<url-pattern>/user/signUp</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoCheckDuplicateUserIdServlet</display-name>
		<servlet-name>DoCheckDuplicateUserIdServlet</servlet-name>
		<servlet-class>com.meister.user.web.DoCheckDuplicateUserIdServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoCheckDuplicateUserIdServlet</servlet-name>
		<url-pattern>/user/checkDuplicate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoLikeCountActionServlet</display-name>
		<servlet-name>DoLikeCountActionServlet</servlet-name>
		<servlet-class>com.meister.opensource.web.DoLikeCountActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoLikeCountActionServlet</servlet-name>
		<url-pattern>/opensource/detail/likeCount</url-pattern>
	</servlet-mapping>
	<servlet>
		<display-name>DoDeleteAuthorizationServlet</display-name>
		<servlet-name>DoDeleteAuthorizationServlet</servlet-name>
		<servlet-class>com.meister.authorization.web.DoDeleteAuthorizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoDeleteAuthorizationServlet</servlet-name>
		<url-pattern>/auth/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoChangeAuthorizationServlet</display-name>
		<servlet-name>DoChangeAuthorizationServlet</servlet-name>
		<servlet-class>com.meister.user.web.DoChangeAuthorizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoChangeAuthorizationServlet</servlet-name>
		<url-pattern>/auth/change</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoSignOutActionServlet</display-name>
		<servlet-name>DoSignOutActionServlet</servlet-name>
		<servlet-class>com.meister.user.web.DoSignOutActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoSignOutActionServlet</servlet-name>
		<url-pattern>/user/doSignOut</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewUserMainServlet</display-name>
		<servlet-name>ViewUserMainServlet</servlet-name>
		<servlet-class>com.meister.authorization.web.ViewUserMainServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewUserMainServlet</servlet-name>
		<url-pattern>/useradmin</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoUserRemoveServlet</display-name>
		<servlet-name>DoUserRemoveServlet</servlet-name>
		<servlet-class>com.meister.user.web.DoUserRemoveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoUserRemoveServlet</servlet-name>
		<url-pattern>/user/delete</url-pattern>
	</servlet-mapping>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/view/error/500Error.jsp</location>
	</error-page>
	<servlet>
		<description></description>
		<display-name>ViewReplyWriteServlet</display-name>
		<servlet-name>ViewReplyWriteServlet</servlet-name>
		<servlet-class>com.meister.reply.web.ViewReplyWriteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewReplyWriteServlet</servlet-name>
		<url-pattern>/reply/write</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewReplyListServlet</display-name>
		<servlet-name>ViewReplyListServlet</servlet-name>
		<servlet-class>com.meister.reply.web.ViewReplyListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewReplyListServlet</servlet-name>
		<url-pattern>/reply/list</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoDeleteActionServlet</display-name>
		<servlet-name>DoDeleteActionServlet</servlet-name>
		<servlet-class>com.meister.reply.web.DoDeleteActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoDeleteActionServlet</servlet-name>
		<url-pattern>/reply/delete</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>CharacterEncodingFilter</display-name>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>com.meister.common.web.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>DoSignUpModifyServelt</display-name>
		<servlet-name>DoSignUpModifyServelt</servlet-name>
		<servlet-class>com.meister.user.web.DoSignUpModifyServelt</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoSignUpModifyServelt</servlet-name>
		<url-pattern>/user/doSignUpModify</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewSignUpModifyServlet</display-name>
		<servlet-name>ViewSignUpModifyServlet</servlet-name>
		<servlet-class>com.meister.user.web.ViewSignUpModifyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewSignUpModifyServlet</servlet-name>
		<url-pattern>/user/signUpModify</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoDeleteUserActionServlet</display-name>
		<servlet-name>DoDeleteUserActionServlet</servlet-name>
		<servlet-class>com.meister.user.web.DoDeleteUserActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoDeleteUserActionServlet</servlet-name>
		<url-pattern>/user/doDelete</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DoSignInServlet</display-name>
		<servlet-name>DoSignInServlet</servlet-name>
		<servlet-class>com.meister.user.web.DoSignInServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DoSignInServlet</servlet-name>
		<url-pattern>/user/doSignIn</url-pattern>
	</servlet-mapping>

</web-app>