@CHARSET "UTF-8";

*{
	font-style: inherit;
}

#total {
	margin-top: 10px;
	margin: 0 auto;
	width: 980px;
	height: 800px;
}

#top {
	float: left;
	display: inline-block;
	width: 150px;
}


#top > #login {
	font-size: 20px;
	border: 1px solid #DDDDDD;
	width: 100%;
	height: 150px;
	text-align: center;
	line-height: 41px;

	
}
#top > #adminManu {
	border: 1px solid #DDDDDD;
	width: 100%;
	height: 597px;
	text-align: center;
	padding-top: 5px;
}

#botton {
	display: inline-block;
	width: 827px;
	height: auto;
	
}


#botton > #table {
	border: 1px solid #DDDDDD;
	width: 100%;
	display: inline-block;
	word-spacing: 10px;
	height: 669px;
	text-align: center;
}

#botton > #table > #tableContent {
	margin: auto;
	margin-top: 5px;
}

#botton > #add {
	display: inline-block;
	border: 1px solid #DDDDDD;
	width: 823px;
	height: 40px;
	line-height: 37px;
	padding-left: 4px;
}


#botton > #allAuth {
	border: 1px solid #DDDDDD;
	width: 823px;
	height: 40px;
	line-height: 42px;
	padding-left: 4px;
}

#writer {
	height: 30px;
	width: 977px;
	border: 1px solid #DDDDDD;
	text-align: center;
}
