@CHARSET "UTF-8";

#searchForm {
	vertical-align: middle;
	position : absolute;
	left : 35%;
	top : 38%;
}

#searchForm > input[type="text"] {
	width : 400px;
	height : 40px;
}

img {
	display: block;
}