@CHARSET "UTF-8";

#indexForm {
	vertical-align: middle;
	position : absolute;
	left : 35%;
	top : 38%;
}

#indexForm > input[type="text"] {
	width : 400px;
	height : 33px;
}

img {
	display: block;
}
