@CHARSET "UTF-8";

body {
	
	font-size : 12px;
	font-family : Dotum, '돋움', Helvetica, AppleSDGothicNeo, sans-serif;
}

span {
	font-size : 15px;
	color : #111c42;
	font-weight: bold;
}

#tableContent {
	width : 900px;
	height : 570px;
	table-layout: fixed;
	word-break: break-all;
}


#listTable {
	margin : auto;
	text-align:center;
	width : 900px;
	height : 570px;
	table-layout: fixed;
	word-break: break-all;
}

.odd {
	background-color: #FFFFFF;
}

.even {
	background-color: #e3e6ea;
}

.odd td, .even td  {
	padding-top : 8px;
	padding-bottom: 8px;
}