<<<<<<< HEAD
@CHARSET "UTF-8";

#total{
	border: 1px solid #DDDDDD;
	margin: 0 auto;
	margin-top: 145px;
	text-align: center;
	width: 400px;
	height: 645px;
=======
@CHARSET "UTF-8";

#total{
	border: 1px solid #DDDDDD;
	margin: 0 auto;
	margin-top: 145px;
	text-align: center;
	width: 400px;
	height: 645px;
>>>>>>> 9e415217246eeae240d7d45c041005109087e173
}